/*CSS page for College Applications*/

/*Includes padding and margins in the width and height*/
* {
    box-sizing: border-box
}
/*Affects all list elemnts wihtin the body of the College Applications webpage*/
.main_body ul {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
}
/*Affects all links within thead main body*/
.main_body a {
    color: blue;
}
/**************************************************************************************************************************************************************/
/*Affects the container which has the page title and the search bar*/
.main_body_CollegeApplications_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative
}
/*Affects the link on the side that leads to Search Universities and their Application Process*/
.Universities_Application_Process {
    line-height: 20px;
    margin: 0px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
}
/*Affects the link when the page shinks*/
@media only screen and (max-width: 800px){
    .Universities_Application_Process {
        position: relative;
    }
}
/**************************************************************************************************************************************************************/
/*Affects the container which holds the information*/
#General_College_Application_Info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Affects the image for the Common App Logo*/
.Common_App_Logo {
    border-radius: 50px;
    width: 100%;
}
.General_College_Application_Info_img {
    width: 75%;
}
.General_College_Application_Info_p {
    width: 100%;
    margin: 0px 15px;
}
/*Changes when the screen changes*/
@media only screen and (min-width: 1200px){
    /*Affects the img tag for General Common Application*/
    .General_College_Application_Info_img {
        width: 25%;
    }
    /*Affects the p tag for General Common Application*/
    .General_College_Application_Info_p {
        width: 72%;
        margin: 0px 15px;
    }
}
/**************************************************************************************************************************************************************/
