/*Resources CSS page*/

/*Includes padding and margins in the width and height*/
* {
    box-sizing: border-box
}
/*Affects all list elemnts wihtin the body of the Finance webpage*/
.main_body ul {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
}
/*Center the heading for title and contact information*/
h3{
    text-align: center;
}
/*Affects the div that has all the contact info*/
.Contact_Info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center
}
/*Affects each persons div with their contact information */
.Contact_Info_subcontainer {
    margin: 0px 20px;
    display: inline-block;
}
/*Makes all teh link tags for the sources blue*/
.container a {
    color: blue;
}
