/*Finance CSS page*/

/*Includes padding and margins in the width and height*/
* {
    box-sizing: border-box
}
/*Affects each container for the sub topics*/
.container {
    margin-bottom: 30px;
}
/*Affects a link tags that are within a container*/
.container a{
    color: blue;
}
/*Affects all list elemnts wihtin the body of the Finance webpage*/
.main_body ul {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
}
/*Container for Images*/
.Image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*Image inside What is Financial Aid?*/
.FASFA_Img_container, .FASFA_Img_container img {
    width: 100%;
}
/*Image inside What is Needed?*/
.what_You_Need_Img_Container, .what_You_Need_Img_Container img {
    width: 100%;
}
@media (min-width: 1200px) {
    /*Allows resizes images so they are only 75% of the page*/
    /*Image inside What is Financial Aid*/
    .FASFA_Img_container{
        width: 75%;
    }
    .FASFA_Img_container img {
        width: 100%;
    }
    /*Image inside What is Needed*/
    .what_You_Need_Img_Container {
        width: 75%;
    }
    .what_You_Need_Img_Container img{
        width: 100%;
    }
}
/************************************************************************************************************************************************************/
/*Affects the div container for the youtube video*/
.youtube-responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
/*Affects the iframe that contains the youtube video*/
.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height:96%;
    text-align: center;
    margin-right: 10%;
}
