/*CSS page for the AP_Exams*/

/*Changes selected topic to darkred*/
#item4 {
    color: darkred;
}
/*Affects all the elemnts within the table*/
table {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
/*Affects only the header for the tables*/
table th {
    background-color: lightgray;
    text-align: center;
    padding: .5em 1em;
}
/*Affects only the data for the tables*/
table td {
    height: 63px;
    padding: .5em 1em;
}
/*Affects only the unordered list within tables*/
table ul {
    margin: 0px
}
