/*CSS page for the Subject Test*/

/*Changes selected topic to darkred*/
#item5 {
    color: darkred;
}
/*Affects all the elemnts within the table*/
table {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
/*Affects only the header for all tables*/
table th {
    background-color: lightgray;
    text-align: center;
    padding: .5em 1em;
}
/*Affects only the unordered list within all tables*/
table ul {
    margin: 0px
}
/*Affects only the data for the What is it table*/
.What_is_it td {
    height: 120px;
    padding: .5em 1em;
}
/*Affects only the data for the Dates and Dealines table*/
.Dates_and_Deadlines td {
    padding: .5em 1em;
}
/*Affects the dates for for the Dates and Dealines section*/
.date {
    text-align: center;
    padding: 10px;
}

