/* Your Code Here! */
/*affects thead entire webpage*/
.body {
    margin: 0px;

}
/*Sets the menu-bar of the webpage*/
.menu-bar {
    margin-top: 0px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, white 0%, #1fc8db 51%, #2cb5e8 75%); 
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 5px 5px 2.5px grey;
    width: 100%;
    padding-bottom: 1%;
}
/*Affects the menu-bar title: JBello*/
.menu-bar h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 350%;
}
/*Affects thea entire menu bar*/
.menu-bar ul {
    position: absolute;
    right: 10px;
    top: 20%;
}
/*Affects the title of each individual menu-topic*/
.menu-bar li {
    display: inline;
    margin-right: 20px;
    font-family: 'Amatic SC', cursive;
    font-size: 175%;
}
.menu-bar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*Affects the main-body of the page*/
.main_body {
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    margin-top: 30.15px;
}
/*Decreases the margin when the webpage shinks*/
@media only screen and (max-width: 400px) {
    .main_body {
        margin-right: 5%;
        margin-left: 5%;
    }
}

/*Affects all the main-body  with a p tag*/
.main_body p {
    font-family: 'proxima_nova_rgregular';
    font-size: 15px;
    line-height: 27px;
    font-weight: normal;
    margin: 0px;
}
