/*CSS page for the General Standardized Testing*/

/*Makes everything include padding and margins inside the width*/
/*The contianer for the entire slides*/
.slider_container {
    text-align: center;
    position: relative;
}
/*Affects both the previous and next buttons*/
.slider_button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -10px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0px 10px;
}
/*Affects only thead previous button*/
#prev {
    left: 0px;
}
/*Affects only thead previous button*/
#next {
    right: 0px;
}
/*Affects the containeer for the list*/
.slider_content_container {
    padding: 0px
}
    /*Affects each list element*/
    .slider_content_container li {
        display: inline-flex;
        margin: 0px;
        text-decoration: none;
    }
    /*Affects the link tag for each li element*/
    .slider_content_container a {
        color: lightgray;
        text-decoration: none;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin: 0px 15px;
    }
/****************************************************************************************************************************************************************************/
/*Affects all the p tags within container*/
.container {
    margin: 0px 0px 30px 0px

}
/*Affects all the unorderd and ordered list tags within each container */
.container ul, ol {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
}
/*Affects all the link tags within each container */
.container a, .container ul a {
    color: blue;
}