/*CSS page for the Login page/

/*Includes padding and margins in the width and height*/
* {
    box-sizing: border-box
}
/*Affects all list elemnts wihtin the body of the Collegeboard webpage*/
.main_body ul {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
}
/*login info*/
h1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: darkred;
    font-weight: bold;
}

/*form look*/
.main {
  border: 3px solid;
  padding: 20px;
  background-color:white;
} 

/*login style*/
#login{
  margin: 10%;
  margin-bottom:5px;
}

.logout{
  background-color:lightgrey;
  color:darkred;
  font-weight: bold;
  padding: 15px 25px;
  width: auto;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top: 40px;
  margin-bottom:0%
}

.logout:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*sign-up style*/
#signup{
   margin: 10%;
   margin-top:5px;
}

/*input box css*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
}

/* style buttons */
input[type=submit], .signupbtn{
  background-color: lightgrey;
  color: darkred;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

input[type=submit]:hover, .signupbtn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*style for  cancel button*/
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: darkred;
  color: linen;
}

.cancelbtn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

p{
  margin-bottom: 0%;
  margin-top: 0%;
}
/*Affects all the listed elemnts to make them the proper style*/
b, p, button, .psw, input {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
}
